
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="Professeur/dashboard" >
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="Professeur/profil">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Profil</h3>
            </a>
            <a href="Professeur/depotSujet" >
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Dépôt de sujets</h3>
            </a>
            <a href="Professeur/planning" >
                <span class="material-icons-sharp">
                    event
                    </span>
                <h3>Planning</h3>
            </a>
            <a href="Professeur/selection" class="active">
                <span class="material-icons-sharp">
                    how_to_reg
                </span>
                <h3>Selection doctorants</h3>
            </a>
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Profil Candidat</h1>
        <a href="Professeur/selection" class="linkActive"><span>> Retour</span></a><br><br>
      
        <div *ngIf="candidatureDetails" class="profile-page">
          <div class="content">
            <div class="content__cover">
                <div class="content__avatar" [ngStyle]="{'background-image': 'url(' + photoUrl + ')'}"></div>

            </div>
            <div class="content__title">
              <h1>{{ candidatureDetails.candidatdetails.nom }} {{ candidatureDetails.candidatdetails.prenom }}</h1>
              <div class="action-buttons">
                <button class="accept-button" (click)="onAccept()">Accepter</button>
                <button class="reject-button" (click)="onReject()">Refuser</button>
              </div>
            </div>
      
            <div class="profile-details">
              <div class="section">
                <h3>Sujet choisi</h3>
                <div class="etat-civil-form" style="background-color: rgba(187, 193, 230, 0.493);">
                  <p><strong>Titre :</strong> {{ candidatureDetails.sujet.titre }}</p>
                  <p><strong>Thématique :</strong> {{ candidatureDetails.sujet.thematique }}</p>
                  <p><strong>Description :</strong> {{ candidatureDetails.sujet.description }}</p>
                </div>
              </div>
      
              <div class="section">
                <h3>État Civil</h3>
                <div class="etat-civil-form">
                  <p><strong>Nom :</strong> {{ candidatureDetails.candidatdetails.nom }}</p>
                  <p><strong>Prénom :</strong> {{ candidatureDetails.candidatdetails.prenom }}</p>
                  <p><strong>Nom Arabe :</strong> {{ candidatureDetails.candidatdetails.nomArabe }}</p>
                  <p><strong>Prénom Arabe :</strong> {{ candidatureDetails.candidatdetails.prenomArabe }}</p>
                  <p><strong>Téléphone :</strong> {{ candidatureDetails.candidatdetails.telephone }}</p>
                  <p><strong>Situation Familiale :</strong> {{ candidatureDetails.candidatdetails.situationFamiliale }}</p>
                  <p><strong>Nationalité :</strong> {{ candidatureDetails.candidatdetails.nationalite }}</p>
                  <p><strong>CIN :</strong> {{ candidatureDetails.candidatdetails.cin }}</p>
                  <p><strong>Pays de naissance :</strong> {{ candidatureDetails.candidatdetails.payeNaissance }}</p>
                  <p><strong>Adresse :</strong> {{ candidatureDetails.candidatdetails.adresse }}</p>
                  <p><strong>Code Postal :</strong> {{ candidatureDetails.candidatdetails.codePostal }}</p>
                  <p><strong>Email :</strong> {{ candidatureDetails.candidatdetails.email }}</p>
                  <p><strong>Profession du père :</strong> {{ candidatureDetails.candidatdetails.professionPere }}</p>
                  <p><strong>Province du père :</strong> {{ candidatureDetails.candidatdetails.provincePere }}</p>
                  <p><strong>Profession de mère :</strong> {{ candidatureDetails.candidatdetails.professionMere }}</p>
                  <p><strong>Province de mère :</strong> {{ candidatureDetails.candidatdetails.provinceMere }}</p>
                  <p><strong>Votre profession :</strong> {{ candidatureDetails.candidatdetails.profession }}</p>
                </div>
              </div>
      
              <div class="section" *ngFor="let diplome of candidatureDetails.candidatdetails.diplomes">
                <h3>{{ diplome.type }}</h3>
                <div class="etat-civil-form">
                  <p><strong>Établissement :</strong> {{ diplome.nomEtablissement }}</p>
                  <p><strong>Pays :</strong> {{ diplome.pays }}</p>
                  <p><strong>Académie :</strong> {{ diplome.academie }}</p>
                  <p><strong>Statut :</strong> {{ diplome.statut }}</p>
                  <p><strong>Filière de Bac :</strong> {{ diplome.specialite }}</p>
                  <p><strong>Année d'obtention :</strong> {{ diplome.anneeObtention }}</p>
                  <p><strong>Mention :</strong> {{ diplome.mention }}</p>
                  <p><strong>Moyenne générale :</strong> {{ diplome.moyenne }}</p>
                </div>
              </div>
              
              <div class="section">
                <h3>Langues</h3>
                <div class="etat-civil-form">
                  <div *ngIf="candidatureDetails.candidatdetails.langues.length">
                    <p *ngFor="let langue of candidatureDetails.candidatdetails.langues">
                      <strong>Langue :</strong> {{ langue.langue }} - 
                      <strong style="right: 50%;">Niveau :</strong> {{ langue.niveau }}
                    </p>
                  </div>
                  <p *ngIf="!candidatureDetails.candidatdetails.langues.length">Aucune langue disponible.</p>
                </div>
              </div>
              
              <div class="section">
                <h3>Expériences Professionnelles</h3>
                <div class="etat-civil-form" *ngFor="let experience of candidatureDetails.candidatdetails.experiences">
                  <p><strong>Expérience :</strong> {{ experience.experience }}</p>
                  <p><strong>Établissement :</strong> {{ experience.etablissement }}</p>
                  <p><strong>Fonction :</strong> {{ experience.fonction }}</p>
                  <p><strong>Secteur :</strong> {{ experience.secteurActivite }}</p>
                  <p><strong>Du :</strong> {{ experience.dateDebut | date:'dd/MM/yyyy' }}</p>
                  <p><strong>Au :</strong> {{ experience.dateFin | date:'dd/MM/yyyy' }}</p>
                </div>
              </div>
              
            <div class="section">
                <h3>Documents scannés</h3>
                <div class="etat-civil-form">
                    <p><strong><button (click)="openDocument('baccalaureat')" class="document-link">Baccalauréat scanné</button></strong></p>
                    <p><strong><button (click)="openDocument('licence')" class="document-link">Licence scannée</button></strong></p>
                    <p><strong><button (click)="openDocument('releve-licence')" class="document-link">Relevé de note licence scanné</button></strong></p>
                    <p><strong><button (click)="openDocument('master')" class="document-link">Master scanné</button></strong></p>
                    <p><strong><button (click)="openDocument('releve-master')" class="document-link">Relevé de note master scanné</button></strong></p>
                    <p><strong><button (click)="openDocument('carte-nationale')" class="document-link">Carte nationale scannée</button></strong></p>
                    <p><strong><button (click)="openDocument('cv')" class="document-link">CV scanné</button></strong></p>
                </div>
            </div>
          
        </div>
    </div>
</div>

       <!-- Modal for Scheduling Interview -->
       <div class="modal" [ngClass]="{'show-modal': showModal}" *ngIf="showModal">
        <div class="modal-content">
            <span class="close-button" (click)="closeModal()">&times;</span>
            <div class="modal-header">
                <h2>Planifier l'entretien</h2>
            </div>
            <div class="schedule-details">
                <label for="interview-date"><strong>Date d'entretien : &nbsp;</strong></label>
                <input type="date" id="interview-date" name="interview-date" [(ngModel)]="interviewDate">
                <button class="save-button" (click)="saveInterviewDate()">Sauvegarder</button>
            </div>
        </div>
    </div>

</main>

<!-- End of Main Content -->

<!-- Right Section -->
<div class="right-section">
<div class="nav">
 
   

    <div class="profile">
        <div class="info">
            <p>Hey, <b>Professeur</b></p>
        </div>
        <div class="profile-photo">
            <img src="images/profimage.jpg">
        </div>
    </div>

</div>
<!-- End of Nav -->



</div>


</div>

