
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="CED/dashboard">
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="CED/gestionProfesseurs" >
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Gestion professeurs</h3>
            </a>
            <a href="CED/gestionStructures"  >
                <span class="material-icons-sharp">
                    settings
                </span>
                <h3>Structures de recherche</h3>
            </a>
            <a href="CED/preselection" class="active">
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Préselection</h3>
            </a>
            <a href="CED/bourse"  >
                <span class="material-icons-sharp">
                    insights
                </span>
                <h3>Bourse</h3>
            </a>
           
            
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
           <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Préselection</h1><br>
        <span class="linkDisabled">Liste des candidatures > </span><br><br>
        <div *ngIf="successMessage" class="info-message">
            {{ successMessage }}
          </div>
        <!-- Search and Filter Section -->
<div class="search-filter">
    <input type="text" placeholder="Rechercher par nom" (input)="onSearchChange($event)">
   
</div><br>

      
        <!-- Candidates Table -->
        <table class="professors-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Etablissement</th>
                    <th>Sujet</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidature of paginatedCandidatures">
                    <td>{{ candidature.nomPrenom }}</td>
                    <td>{{ candidature.etablissement }}</td>
                    <td>{{ candidature.sujet_nom }}</td>
                    <td>
                        <button class="view-candidature-button" (click)="voirProfil(candidature)">
                          <span class="material-icons-sharp">visibility</span>
                        </button>
                      </td>
               
                </tr>
            </tbody>
        </table>
      
        <!-- Pagination Section -->
        <div class="pagination">
            <button *ngFor="let page of totalPages; let i = index" (click)="goToPage(i + 1)" [class.active]="currentPage === (i + 1)">
                {{ i + 1 }}
            </button>
        </div>
      </main>
      

    
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>CED</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/ced.jpeg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

