
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="Professeur/dashboard" class="active">
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="Professeur/profil">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Profil</h3>
            </a>
            <a href="Professeur/depotSujet">
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Dépôt de sujets</h3>
            </a>
            <a href="Professeur/planning" >
                <span class="material-icons-sharp">
                    event
                    </span>
                <h3>Planning</h3>
            </a>
            <a href="Professeur/selection">
                <span class="material-icons-sharp">
                    how_to_reg
                </span>
                <h3>Selection doctorants</h3>
            </a>
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Accueil</h1>
        <!-- Analyses -->
        <div class="analyse">
            <div class="sales">
                <div class="status">
                  <div class="info">
                    <h3>Candidatures non traitées</h3>
                    <h1>{{ candidaturesNonTraitees }}</h1>
                  </div>
                  <div class="progresss">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>{{ candidaturesNonTraitees }} %</p>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="visits">
                <div class="status">
                    <div class="info">
                        <h3>Candidats préselectionnés</h3>
                        <h1>0/3</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>-48%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searches">
                <div class="status">
                  <div class="info">
                    <h3>Total sujets</h3>
                    <h1>{{ totalSujets }}/{{ maxSujets }}</h1>
                  </div>
                  <div class="progresss">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>+21%</p>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <!-- End of Analyses -->

        <!-- New Users Section -->
        <div class="new-users">
            <h2>Mes informations</h2>
            <div class="user-list">
                
                <a href="Professeur/profil"><div class="user">
                    <img src="images/hero-banner-1.jpg">
                    <h2>Mon profil</h2>
                </div></a>
                <a href="Professeur/depotSujet"><div class="user">
                    <img src="images/sujets.jpg">
                    <h2>Deposer sujet</h2>
                </div></a>
                
                <a href="Professeur/selection"><div class="user">
                    <img src="images/resultats.png">
                    <h2>Selection</h2>
                </div></a>
            </div>
        </div>
     

    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>{{ professeur.prenom }}</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/hero-banner-1.jpg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

