
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="CED/dashboard" class="active">
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="CED/gestionProfesseurs">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Gestion professeurs</h3>
            </a>
            <a href="CED/gestionStructures">
                <span class="material-icons-sharp">
                    settings
                </span>
                <h3>Structures de recherche</h3>
            </a>
            <a href="CED/preselection">
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Préselection</h3>
            </a>
           
           
            
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Accueil</h1>
        <!-- Analyses -->
        <div class="analyse">
            <div class="sales">
                <div class="status">
                  <div class="info">
                    <h3>Total candidatures</h3>
                    <h1>{{ totalCandidatures }}</h1>
                  </div>
                  <div class="progresss">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>{{ calculatePercentage(totalCandidatures) }} %</p>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="visits">
                <div class="status"> 
                    <div class="info">
                      <h3>Total professeurs</h3>
                      <h1>{{ totalProfesseurs }}</h1> <!-- Affichage du total des professeurs -->
                    </div>
                    <div class="progresss">
                      <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                      </svg>
                      <div class="percentage">
                        <p>-48%</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
            <div class="searches">
                <div class="status">
                  <div class="info">
                    <h3>Total structures</h3>
                    <h1>{{ totalStructures }}</h1>
                  </div>
                  <div class="progresss">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>{{ calculateStructuresGrowthPercentage(totalStructures) }} %</p>
                    </div>
                  </div>
                </div>
              </div>
              
        </div><br><br>
        <div class="new-users">
            <h2>Mes informations</h2>
            <div class="user-list">
                
                <a href="CED/gestionProfesseurs"><div class="user">
                    <img src="images/gestionprof.jpg">
                    <h2>Gestion professeurs</h2>
                </div></a>
                <a href="CED/gestionStructures"><div class="user">
                    <img src="images/sujets.jpg">
                    <h2>Gestion structures</h2>
                </div></a>
                
                <a href="CED/preselection"><div class="user">
                    <img src="images/resultats.png">
                    <h2>Préselection</h2>
                </div></a>
            </div>
        </div>

    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>CED</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/ced.jpeg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

