
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="Professeur/dashboard" >
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="Professeur/profil" class="active">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Profil</h3>
            </a>
            <a href="Professeur/depotSujet" >
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Dépôt de sujets</h3>
            </a>
            <a href="Professeur/planning" >
                <span class="material-icons-sharp">
                    event
                    </span>
                <h3>Planning</h3>
            </a>
            <a href="Professeur/selection">
                <span class="material-icons-sharp">
                    how_to_reg
                </span>
                <h3>Selection doctorants</h3>
            </a>
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Mon Profil</h1><br><br>
        <div class="profile-container">
          <div class="profile-card">
            <div class="profile-header">
              <div class="profile-details">
                <h2>Dr. {{ professeur.prenom }} {{ professeur.nom }}</h2>
              </div>
              <button class="edit-profile-button" (click)="editProfile()">
                <span class="material-icons-sharp">edit</span>
              </button>
            </div>
            <div class="profile-info2">
              <p><strong>Nom :</strong> {{ professeur.nom }}</p>
              <p><strong>Prénom :</strong> {{ professeur.prenom }}</p>
              <p><strong>Email :</strong> {{ professeur.email }}</p>
              <p><strong>Établissement :</strong> {{ professeur.etablissement }}</p>
              <p><strong>Structure de Recherche :</strong> {{ professeur.structnom }}</p>
              <p><strong>Domaine de Recherche :</strong> {{ professeur.domaine }}</p>
            </div>
          </div>
        </div>
      
        <!-- Modal for editing profile -->
        <div class="modal" [ngClass]="{'show-modal': showEditModal}" *ngIf="showEditModal">
          <div class="modal-content">
            <span class="close-button" (click)="closeEditModal()">&times;</span>
            <div class="modal-banner">
              <img src="images/banner.png" alt="Banner Image" class="banner-image">
            </div>
            <div class="modal-header">
              <h2>Modifier Profil</h2>
            </div>
            <div class="profile-details">
              <div class="profile-info">
                <label>Nom :</label>
                <input type="text" [(ngModel)]="professeur.nom">
                <label>Prénom :</label>
                <input type="text" [(ngModel)]="professeur.prenom">
                <label>Mot de passe :</label>
                <input type="password">
              </div>
              <button class="save-structure-button" (click)="saveProfile()">Sauvegarder</button>
            </div>
          </div>
        </div>
      </main>
      
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Salma</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/hero-banner-1.jpg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

