
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="CED/dashboard">
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="CED/gestionProfesseurs"  >
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Gestion professeurs</h3>
            </a>
            <a href="CED/gestionStructures" class="active">
                <span class="material-icons-sharp">
                    settings
                </span>
                <h3>Structures de recherche</h3>
            </a>
            <a href="CED/preselection">
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Préselection</h3>
            </a>
            <a href="CED/bourse"  >
                <span class="material-icons-sharp">
                    insights
                </span>
                <h3>Bourse</h3>
            </a>
            
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
     <main>
    <h1>Gestion structures</h1><br>
    <a href="CED/gestionStructures" class="linkActive" ><span>Liste des structures</span></a>
    <span class="linkDisabled">> Ajouter structure</span><br><br>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    <!-- Formulaire d'ajout de structure -->
    <form class="add-professor-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="ced">Centre ID (CED)</label>
            <input type="text" id="ced" name="ced" [value]="cedId" readonly>
        </div>

        <div class="form-group">
            <label for="nom">Nom de la structure</label>
            <input type="text" id="nom" name="nom" [(ngModel)]="structure.nom" required>
        </div>

        <div class="form-group">
            <label for="domaine">Domaine</label>
            <input type="text" id="domaine" name="domaine" [(ngModel)]="structure.domaine" required>
        </div>

        <div class="form-group">
            <label for="etablissement">Établissement</label>
            <input type="text" id="etablissement" name="etablissement" [(ngModel)]="structure.etablissement" required>
        </div>

        <button type="submit" class="btn-submit">Ajouter</button>
    </form>
</main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>CED</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/ced.jpeg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

