@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: flex;
    width: 98%;
    margin: 0 auto;
    gap: 1.8rem;
}

aside {
    height: 100vh;
    position: fixed; /* Rendre la sidebar fixe */
    top: 0;
    left: 0;
    width: 220px; /* Définir une largeur fixe */
    z-index: 1000;
    background-color: var(--color-white); /* S'assurer que la sidebar a un fond */
    box-shadow: var(--box-shadow); /* Ajouter l'ombre pour l'effet visuel */
}

/* Ajustement du contenu principal */
main {
    flex-grow: 1;
    margin-left: 200px; /* Ajouter une marge à gauche pour compenser la largeur de la sidebar */
    padding: 20px; /* Ajouter du padding pour le contenu */
}



aside .sidebar{
 
    background-color: var(--color-white);
    height: 88vh;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}
.logo-divider {
    width: 100%; /* Ajuste la largeur du trait */
    height: 4px; /* Épaisseur du trait */
    background-color: #3a7ac2; /* Bleu pour correspondre à ton design */
    margin: 1rem auto; /* Centrage et espace au-dessus et en dessous */
    border-radius: 10px; /* Ajout de coins arrondis pour un style plus doux */
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/*********************************/


.right-section {
    margin-top: 1.4rem; /* Garde un espace en haut */
    padding-right: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 5px; /* Définit une largeur fixe */
    z-index: 1;
 
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}


.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav .profile .profile-photo{
    width: 3.2rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.right-section .nav .profile .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}

/***************************************************/


.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: #333;
    position: relative;
}

.selection-icon-container {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #007bff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.selection-icon-container:hover {
    color: #0056b3;
}

.material-icons {
    font-size: 48px;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #333;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #0056b3;
}

.subject-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.subject-card {
    background: linear-gradient(135deg, #4b79a1, #283e51);
    padding: 25px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.subject-card h3 {
    margin-bottom: 12px;
    font-size: 1.5em;
    font-weight: bold;
}

.subject-card p {
    font-size: 1em;
    color: #e0e0e0;
}

.subject-card:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    max-width: 700px;
    width: 90%;
    color: #333;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
    text-align: left;
    overflow-y: auto; /* Pour activer le défilement vertical */
    max-height: 80vh;
}

.modal-content p {
    line-height: 1.6;
    color: #555;
    font-size: 1.1em;
    word-wrap: break-word; /* Permet au texte de couper les mots longs */
    overflow-wrap: break-word; /* Coupe le texte lorsqu'il devient trop long pour l'espace */
    white-space: normal; /* Permet au texte de revenir à la ligne automatiquement */
}

.modal-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4b79a1;
    border-bottom: 2px solid #4b79a1;
    padding-bottom: 10px;
}

.modal-content .modal-section {
    margin-bottom: 25px;
}

.modal-content .modal-section h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.719);
}



.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #333;
}

.button2 {
    margin-top: 20px;
    padding: 15px 20px;
    background: linear-gradient(135deg, #4b79a1, #283e51);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.button2:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.button2:active {
    transform: translateY(1px);
}

.button2:last-of-type {
    margin-left: 15px;
    background: #4b79a1;
}

.button2:last-of-type:hover {
    background: #4b79a1;
}

.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.cart-modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 80%;
    color: #333;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
}

.cart-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-modal-header h3 {
    font-size: 1.8em;
    color: #4b79a1;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item button {
    background: #505691;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.cart-item button:hover {
    background: #d84315;
}

.cart-item h4 {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

.cart-item p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
}

.cart-item.non-removable {
    
    cursor: not-allowed;
}

.cart-item.non-removable button {
   
    cursor: not-allowed;
    pointer-events: none;
}
