
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="CED/dashboard">
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="CED/gestionProfesseurs"  class="active">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Gestion professeurs</h3>
            </a>
            <a href="CED/gestionStructures">
                <span class="material-icons-sharp">
                    settings
                </span>
                <h3>Structures de recherche</h3>
            </a>
            <a href="CED/preselection">
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Préselection</h3>
            </a>
            <a href="CED/bourse"  >
                <span class="material-icons-sharp">
                    insights
                </span>
                <h3>Bourse</h3>
            </a>
           
            
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Gestion professeurs</h1><br>
        <span class="linkDisabled">Liste des professeurs  > </span>
        <a href="CED/ajouterProfesseur" class="linkActive"><span>Ajouter professeur</span></a><br><br>
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
        <!-- Search and Filter Section -->
        <div class="search-filter">
            <input type="text" placeholder="Rechercher par nom" (input)="onSearchChange($event)">
            <select (change)="onFilterChange($event)">
                <option value="">Tous les établissements</option>
                <option *ngFor="let etablissement of etablissements" [value]="etablissement">
                    {{ etablissement }}
                </option>
            </select>
        </div><br>
        
        <!-- Professors Table -->
        <table class="professors-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Structure de recherche</th>
                    <th>Établissement</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let professor of paginatedProfessors">
                    <td>{{ professor.nom }}</td>
                    <td>{{professor.prenom}}</td>
                    <td>{{professor.email}}</td>
                    <td>{{ professor.structnom }}</td>
                    <td>{{ professor.etablissement }}</td>
                 
                </tr>
            </tbody>
        </table>

        <!-- Pagination Section -->
       <!-- Pagination Section -->
<div class="pagination" *ngIf="totalPages.length > 1">
    <button *ngFor="let page of totalPages; let i = index" (click)="goToPage(i + 1)" [class.active]="currentPage === (i + 1)">
        {{ i + 1 }}
    </button>
</div>

        
    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>CED</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/ced.jpeg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

