
<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
   </head>
<body>
  
  <div class="container">
    <div class="header-right">
        <a href="/"><span class="text-right">Accueil</span>
        <i class="fas fa-arrow-left"></i></a>
      </div>
      
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        
        <img src="images/back2.png" alt="">
        <div class="text">
          <img src="  /images/about-shape-3.png" width="371" height="220" loading="lazy" alt=""
    class="shape about-shape-2">
          <span class="text-1">Bienvenue sur la plateforme <br>des inscriptions en thèse</span>
          <span class="text-2">Démarrons dès maintenant</span>
        </div>
      </div>
      <div class="back">
       
        <img class="backImg" src="images/back.jpg" alt="">
        
        <div class="text">
          <span class="text-1">Inscription au programme <br> doctorale</span>
          <span class="text-2">Commencez votre parcours</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            
          <div class="login-form">
            <div class="title">Se connecter</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Entrez votre email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Entrez votre mot de passe" required>
              </div>
              <div class="text"><a href="#">Mot de passe oublié?</a></div>
              <div class="button input-box">
                <input type="submit" value="Soumettre">
              </div>
              <div class="text sign-up-text">Pas encore inscrit? <label for="flip">S'inscrire</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form" style="position: relative; top: -15px;">
            <div class="header-right2">
                <a href="/"><span class="text-right">Accueil</span>
                <i class="fas fa-arrow-left"></i></a>
              </div>
              
          <div class="title">S'inscrire</div>
          
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Entrez votre nom" required>
              </div>
              <div class="input-box">
                <i class="fas fa-id-card"></i>
                <input type="text" placeholder="Entrez votre CIN" required>
              </div>
              
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Entrez votre email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Entrez votre password" required>
              </div>
              
              <div class="button input-box">
                <input type="submit" value="Soumettre">
              </div>
              <div class="text sign-up-text">Compte dejà existant? <label for="flip">Se connecter</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
 
</body>