
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">


</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="/" class="logo">
        <img src=" /images/logo.png" width="162" height="50" alt="Université abdelmalek essaâdi">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="/" class="logo">
            <img src="  /images/logo.png" width="162" height="50" alt="Université abdelmalek essaâdi">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
       
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="https://www.uae.ac.ma/histoire" target="_blank" class="navbar-link" data-nav-link>Université</a>
          </li>

          <li class="navbar-item">
            <a href="https://www.uae.ac.ma/formations/initiale" target="_blank" class="navbar-link" data-nav-link>Formation</a>
          </li>

          <li class="navbar-item">
            <a href="https://www.uae.ac.ma/offres-emploi" target="_blank" class="navbar-link" data-nav-link>Offres d'emploi</a>
          </li>

          <li class="navbar-item">
            <a href="https://www.uae.ac.ma/ent-uae" target="_blank" class="navbar-link" data-nav-link>ENT-UAE</a>
          </li>

          <li class="navbar-item">
            <a href="https://www.uae.ac.ma/contact" target="_blank" class="navbar-link" data-nav-link>Contact</a>
          </li>

        </ul>

      </nav>

      <div class="header-actions">

        

        <a href="/login" class="btn has-before">
          <span class="span">Connexion</span>

           
        </a>

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
       
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero has-bg-image" id="home" aria-label="home"
        style="background-image: url('  /images/hero-bg2.svg')">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 section-title">
              Le meilleur programme pour <span class="span">poursuivre</span> vos études doctorales 
            </h1>

            <p class="hero-text">
              Rejoignez notre université et engagez-vous dans un parcours de recherche innovant et de qualité.
            </p>

            <a href="/login" class="btn has-before">
              <span class="span">Se connecter</span>

            </a>

          </div>

          <figure class="hero-banner">

            <div class="img-holder one" style="--width: 270; --height: 300;">
              <img src="  /images/back2.png" width="270" height="300" alt="hero banner" class="img-cover">
            </div>

            <div class="img-holder two" style="--width: 240; --height: 370;">
              <img src="  /images/back.jpg" width="240" height="370" alt="hero banner" class="img-cover">
            </div>

          

            <img src="  /images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">

          </figure>

        </div>
      </section>





      
      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="  /images/back2.png" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">
            </div>


            <img src="  /images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
              class="shape about-shape-3">

          </figure>

          <div class="about-content">

            <p class="section-subtitle">A propos de nous</p>

            <h2 class="h2 section-title">
              Plus de 40 ans <span class="span">d'excellence</span> académique
            </h2>

            <p class="section-text">
              Université Abdelmalek Essaâdi s'est imposée comme une référence dans l'enseignement supérieur au nord du Maroc, avec 17 établissements dans 5 villes.
            </p>

            <ul class="about-list">

              <li class="about-item">
       

                <span class="span">Établissements dans 5 villes</span>
              </li>

              <li class="about-item">
                

                <span class="span">Fondation en 1982</span>
              </li>

              <li class="about-item">
               

                <span class="span">Un hommage au Sultan Saâdien</span>
              </li>

            </ul>

            <img src="  /images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
              class="shape about-shape-4">

          </div>

        </div>
      </section>




     




      <!-- 
        - #BLOG
      -->
   </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer" >


    <div class="footer-bottom">
      <div class="container">
        <a href="#" class="logo">
            <img src="  /images/logo2.png" width="162" height="50" alt="EduWeb logo">
          </a>
          
      

      </div>
      
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    
  </a>






</body>