
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="logo-divider"></div>

        <div class="sidebar">
           <img src="  /images/logo.png">
           
            <div class="logo-divider"></div><br>
            <a href="Professeur/dashboard" >
                <span class="material-icons-sharp">
                    dashboard
                </span>
                <h3>Accueil</h3>
            </a>
            <a href="Professeur/profil">
                <span class="material-icons-sharp">
                    person_outline
                </span>
                <h3>Profil</h3>
            </a>
            <a href="Professeur/depotSujet" >
                <span class="material-icons-sharp">
                    receipt_long
                </span>
                <h3>Dépôt de sujets</h3>
            </a>
            <a href="Professeur/planning" class="active">
                <span class="material-icons-sharp">
                    event
                    </span>
                <h3>Planning</h3>
            </a>
            <a href="Professeur/selection">
                <span class="material-icons-sharp">
                    how_to_reg
                </span>
                <h3>Selection doctorants</h3>
            </a>
            <a href="">
                <span class="material-icons-sharp">
                    logout
                </span>
                <button (click)="onLogout()"><h3>Logout</h3></button>
            </a>
            <br><br><br><br><br><br><img src="  /images/hmama.svg">
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>
        <h1>Accueil</h1>
       
    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
         
           

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Salma</b></p>
                </div>
                <div class="profile-photo">
                    <img src="images/hero-banner-1.jpg">
                </div>
            </div>

        </div>
        <!-- End of Nav -->

       

    </div>


</div>

