
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="logo-divider"></div>

            <div class="sidebar">
               <img src="  /images/logo.png">
               
                <div class="logo-divider"></div><br>
                <a href="Candidat/dashboard" class="active">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Accueil</h3>
                </a>
                <a href="Candidat/profil">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profil</h3>
                </a>
                <a href="Candidat/choixSujet">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Sujets de thèse</h3>
                </a>
                <a href="Candidat/planning" >
                    <span class="material-icons-sharp">
                        event
                        </span>
                    <h3>Planning</h3>
                </a>
               
                
                <a href="">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <button (click)="onLogout()"><h3>Logout</h3></button>
                </a>
                <br><br><br><br><br><br><br><br><br><img src="  /images/hmama.svg">
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Accueil</h1>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Entretien validé</h3>
                            <h1>{{ acceptedCandidaturesCount }}</h1> <!-- Affiche le nombre de candidatures retenus pour entretien -->
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>{{ acceptedCandidaturesCount * 100 / totalCandidatures | number:'1.0-0' }}%</p> <!-- Affiche le pourcentage accepté -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Total candidatures</h3>
                            <h1>{{ totalCandidatures }}/3</h1> <!-- Afficher le nombre total de candidatures -->
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>{{ candidaturePercentage | number:'1.0-0'}}%</p> <!-- Afficher le pourcentage -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Candidatures refusées</h3>
                            <h1>{{ refusedCandidaturesCount }}</h1> <!-- Affiche le nombre de candidatures refusées -->
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>{{ refusedCandidaturesCount * 100 / totalCandidatures | number:'1.0-0' }}%</p> <!-- Affiche le pourcentage refusé -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- End of Analyses -->

            <!-- New Users Section -->
            <div class="new-users">
                <h2>Mes informations</h2>
                <div class="user-list">
                    
                    <a href="Candidat/profil"><div class="user">
                        <img *ngIf="photoUrl" [src]="photoUrl" alt="Profile Photo">
                        <h2>Mon dossier</h2>
                    </div></a>
                    <a href="Candidat/choixSujet"><div class="user">
                        <img src="images/sujets.jpg">
                        <h2>Sujets proposées</h2>
                    </div></a>
                    
                    <div class="user">
                        <img src="images/resultats.png">
                        <h2>Résultats</h2>
                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Mes candidatures</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Sujet</th>
                            <th>Thématique</th>
                            <th>Etablissement</th>
                            <th>Statut</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let candidature of candidatures"
                        [ngClass]="{
                            'accepted': candidature.statuts === 'Acceptee',
                            'rejected': candidature.statuts === 'Refusee'
                          }">
                            <td>{{ candidature.sujetNom }}</td>
                            <td>{{ candidature.thematique }}</td>
                            <td>{{ candidature.etablissement }}</td>
                            <td>
                                {{ 
                                  candidature.statuts === 'Acceptee' ? 'Retenu pour entretien' : 
                                  candidature.statuts === 'Encours' ? 'En cours' : 
                                  candidature.statuts === 'preselectionnee' ? 'Pré-sélectionnée':
                                  candidature.statuts
                                }}
                              </td>
                              
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
             
               

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Salma</b></p>
                    </div>
                    <div class="profile-photo">
                        <img *ngIf="photoUrl" [src]="photoUrl" alt="Profile Photo">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

           

        </div>


    </div>

