
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="logo-divider"></div>

            <div class="sidebar">
               <img src="  /images/logo.png">
               
                <div class="logo-divider"></div><br>
                <a href="candidat/dashboard" class="active">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Acceuil</h3>
                </a>
                <a href="candidat/profil">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profil</h3>
                </a>
                <a href="candidat/choixSujet">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Sujets de thèse</h3>
                </a>
                <a href="candidat/planning" >
                    <span class="material-icons-sharp">
                        event
                        </span>
                    <h3>Planning</h3>
                </a>
               
                <a href="">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Bourse</h3>
                </a>
                <a href="">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <button (click)="onLogout()"><h3>Logout</h3></button>
                </a>
                <br><br><br><br><br><br><img src="  /images/hmama.svg">
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Acceuil</h1>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Candidatures acceptées</h3>
                            <h1>0</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>0 %</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Total candidatures</h3>
                            <h1>0/3</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Candidatures refusées</h3>
                            <h1>2</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->

            <!-- New Users Section -->
            <div class="new-users">
                <h2>Mes informations</h2>
                <div class="user-list">
                    
                    <a href="candidat/profil"><div class="user">
                        <img src="images/hero-banner-1.jpg">
                        <h2>Mon dossier</h2>
                    </div></a>
                    <a href="candidat/choixSujet"><div class="user">
                        <img src="images/sujets.jpg">
                        <h2>Sujets proposées</h2>
                    </div></a>
                    
                    <div class="user">
                        <img src="images/resultats.png">
                        <h2>Résultats</h2>
                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Mes candidatures</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Course Number</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                        </tr>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                        </tr>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
             
               

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Salma</b></p>
                    </div>
                    <div class="profile-photo">
                        <img src="images/hero-banner-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

           

        </div>


    </div>

